/*main_pcfull_articlebox.css*/
@media screen and (min-width:1366px) { 
#articlebox {position:relative; width: 100%; height: 100%;}

.article_img {position:absolute; 
  top:-108px; left:25%; margin-left:0; width:65%; height:100%;
  background-image:url(../../../../img/maxim_main_pc_full/articlebox/head_img02.png);
  background-repeat:no-repeat;
  background-position:bottom;
  background-size:cover;}

.article_text {
  position:relative; top:5%; right:-3.5%;
  width:18%; height: 90%;
  background-image:url(../../../../img/maxim_main_pc_full/articlebox/article_text_line.png);
  background-repeat:no-repeat;
  background-position: center;
  background-size:contain;}

   }