/*product_base_objectbox.css*/
#objectbox {width: 100%; height:1300px; }

/*unbbox*/
.objectbox_unbbox {
  box-sizing:border-box; padding-top:60px;
  width: 100%; height:15%;}
.objectbox_unbbox > ul {
  margin: auto; box-sizing:border-box; padding-top:50px;
  width:55%; height:90%; }
.unbbox > li {
  float:left; font-size:2.342606149341142vw; text-align:center; 
  line-height:90%;width: 15%; height: 90%;}
.unbbox > li:nth-child(1) {border-bottom:2px solid #000;}
.unbbox > li:hover {border-bottom:2px solid #000;}
.unbbox > li:nth-child(4) {float:right;}
.unbbox > li:nth-child(2) {margin-left:13%;}
.unbbox > li:nth-child(3) {margin-left:13%;}
/*product*/
.product_box {
  box-sizing:border-box; padding-top:147px;
  width: 100%; height:80%; }
.product_box_banner {position: relative;
  width: 100%; height: 50%; }
.product_list {position: relative;
  margin: auto; box-sizing: border-box;
  padding-top: 1rem; padding-bottom: 1rem; width: 60%;}

.product_list > li {/*display: none;*/
  float:left; margin-left:2.5%;
  width:30%; height: 600px;}
.product_list > li:nth-child(1) {transform:translateY(-10%);}
.product_list > li:nth-child(3) {transform:translateY(-10%);}
.product_list > li.active{ display: block; position: absolute; left: 50%; margin-left:-30%;}

/*product_01*/
.product_01>button {width: 100%;height:90%;}
.pro_img_01 {width: 100%; height: 90%; }
.pro_text_01 {
  text-align:center;
  width: 100%; height: 10%;}

/*product_02*/
.product_02>button {width: 100%;height:90%;}
.pro_img_02 {width: 100%; height: 90%; }
.pro_text_02 {
  text-align:center;
  width: 100%; height: 10%;}

/*product_03*/
.product_03>button {width: 100%;height:90%; }
.pro_img_03 {width: 100%; height: 90%; }
.pro_text_03 {
  text-align:center;
  width: 100%; height: 10%;}

/*product_onbox*/
.product_onbox {display: none;
  width:100%; height:70%;}
/* ----------------------------------------------- */
.product_narr{
  position: absolute; top:16px; right: 288px; width:850px; height:550px;
  box-sizing:border-box; padding:20px;}
.product_list button:focus {outline:none;}
  
/* ----------------------------------------------- */

/*product_01_on*/
.product_01_on {
  box-sizing:border-box;
  margin: auto; padding-top:1%; padding-left:9.5%;
  width: 80%; height:90%; }
.product_01_on > li {
  float:left; margin-left:15px;
  width:20%; height:90%; }

/*product_02_on*/
.product_02_on {
  box-sizing:border-box;
  margin: auto; padding-top:1%; padding-left:9.5%;
  width: 80%; height:90%;}
.product_02_on > li {
  float:left; margin-left:15px;
  width:20%; height:90%;}

/*product_03_on*/
.product_03_on {
  box-sizing:border-box;
  margin: auto; padding-top:1%; padding-left:9.5%;
  width: 80%; height:90%; }
.product_03_on > li {
  float:left; margin-left:15px;
  width:20%; height:90%;}


.close_btn{width:4rem; height:4rem;border-radius:0.3rem; 
          position: absolute; left: 80%; margin-left: -1.5rem; top:3.5rem;}
.close_btn:hover {cursor:pointer;}
.narr_02 {display:none;}
.narr_03 {display:none;}













