/*main_base_adbox.css*/
#adbox {
  position:relative;
  width: 100%; height: 900px; background-color:#fff;
  background-image:url(../../../../img/maxim_main_pc/coffee.png);
  background-repeat:no-repeat;
  background-position:center right; }

.adbox_img {
  float:left;
  width: 60%; height: 900px; }
.adbox_text01 {
  float:left; position:absolute; top:186px; left:65%;
  width: 490px; height: 170px;
  transform:translateX(10rem);
  transition:all 800ms ease; opacity: 0;}

.adbox_text01.active{transform:translateX(0); opacity: 1;}