/*about_pcfull_slogan.css*/
@media screen and (min-width:1366px) {
#slogan_box {
  position:relative; width: 100%; height:2800px;}
.slogan_img {
  width: 100%; height: 2700px;
  background-image:url(../../../../img/maxim_about_pc_full/slogan/slogan_img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;}


/*---slogan_head---*/
.slogan_head {width: 100%; height: 280px; }
.slogan_logo {
  position:absolute;
  top:30px; left:50%; margin-left:-81px;
  width: 162px; height: 152px;
  background-image:url(../../../../img/maxim_about_pc_full/slogan/slogan_logo.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size:contain;}
.slogan_title {
  position:absolute; 
  top:182px; left:50%; margin-left:-239px;
  width:478px; height: 85px;
  background-image:url(../../../../img/maxim_about_pc_full/slogan/brand_slogan.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;}

/*----slogan_area------*/
.slogan_area {
  position:relative;
  width: 100%; height: 2450px;}
.slogan_ul{
  position:absolute;top:148px;
  width: 100%; height: 2100px;}

/*----slogan_sbox_1----*/
.slogan_sbox_1 {
  box-sizing:border-box;padding:47px 30px 64px 40px;
  width:1000px; height:359px;
  background-image:url(../../../../img/maxim_about_pc_full/slogan/text_01_box.png);}
.sbox_text_01 {
  float:left;
  width: 636px; height: 264px;
  background-image:url(../../../../img/maxim_about_pc_full/slogan/text_001.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size:contain;}
.sbox_icon_01 {
  float:left;margin-top: 54px;
  width: 203px; height: 208px;
  background-image:url(../../../../img/maxim_about_pc_full/slogan/icon_01.png);
  background-repeat:no-repeat;
  background-position: center;
  background-size:contain;}

/*-----slogan_sbox_2-------*/
.slogan_sbox_2 {
  box-sizing:border-box; padding:57px 17px 62px 26px;
  position:absolute;top:778px;right:0;
  width: 905px; height: 359px;
  background-image:url(../../../../img/maxim_about_pc_full/slogan/text_02_box.png);}
.sbox_text_02 {
  float:right;
  width: 668px; height: 240px;
  background-image:url(../../../../img/maxim_about_pc_full/slogan/text_002.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;}
.sbox_icon_02 {
  float:left; margin-top:50px;
  width: 187px; height: 177px;
  background-image:url(../../../../img/maxim_about_pc_full/slogan/icon_02.png);
  background-repeat:no-repeat;
  background-position: center;
  background-size: contain;}

/*------slogan_sbox_3-------*/
.slogan_sbox_3 {
  box-sizing: border-box; padding:77px 45px 81px 40px;
  position:absolute; bottom:310px;
  width: 723px; height: 359px;
  background-image:url(../../../../img/maxim_about_pc_full/slogan/text_03_box.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;}
.sbox_text_03 {
  float:left;
  width: 419px; height: 201px;
  background-image:url(../../../../img/maxim_about_pc_full/slogan/text_003.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;}
.sbox_icon_03 {
  float:left; margin-left: 36px;
  width: 146px; height: 181px;
  background-image:url(../../../../img/maxim_about_pc_full/slogan/icon_03.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;}

}




