/*about_pcfull_infobox.css*/
@media screen and (min-width:1366px){
#about_infobox {height:100%;}


/*about_textbox*/
.about_textbox {
  width:40%; height:100%;
  background-image:url(../../../../img/maxim_about_pc/info/coffee_img.png);
  background-repeat: no-repeat;
  background-position:top left;}
.about_textbox > ul {
  top:4.8565153vw; left:100px;
  width:30%; height:80%;}
.about_01 {
  width:80%; height:15%; 
  background-image:url(../../../../img/maxim_about_pc/info/brand.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;}
.about_02 {
  position:absolute; top:18%;
  width:70%; height: 12%;
  background-image:url(../../../../img/maxim_about_pc/info/maximtext.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;}
.about_03{
  position:absolute; top:35%;
  width:85%; height: 70%; color:#000;
  font-size:1.1rem; text-align:left;}



/*about_img*/
.about_img {
  width: 60%; height:100%;
  background-image:url(../../../../img/maxim_about_pc/info/ad_img.png);
  background-repeat: no-repeat;
  background-position:bottom;
  background-size:cover;}












}
