/*news_notice_pc_newsbox.css*/
@media screen and (min-width:768px) and (max-width:1365px) {
#newsbox {
  position:relative;
  width: 100%; height:180.7802197802198vw;}
/*dt,dd*/
dt {
  width: 100%; height: auto; font-weight:bold; font-size:1.2rem;}
dd {
  width: 100%; height: auto; font-size:1rem; line-height:2.344322344322344vw;}

/*news_area*/
.news_area {
  box-sizing:border-box; margin: auto; padding-top: 10.98901098901099vw;
  width:95%; height:80%;  }
/*news_01*/
.news_01 {
  float:left; box-shadow:2px 2px 2px 2px #8C8987;
  width:33%; height:auto;background-color: #fff;}
.news_img_01 {
  width: 100%; height:21.97802197802198vw;
  transition: all 500ms ease; background-size:100%;
  background-image: url(../../../../img/maxim_news_pc/news_notice_box/img_01.png);
  background-repeat: no-repeat;
  background-position: center;}
.news_textbox_01 {
  box-sizing:border-box; padding:0.7326007326007326vw;
  width: 100%; height: auto; background-color: #fff;}
.more_btn_01 {
  margin: auto;
  width: 5.860805860805861vw; height: 5.860805860805861vw;
  background-image:url(../../../../img/maxim_news_pc/news_notice_box/more_icon_01.png);
  background-repeat: no-repeat;
  background-position: center;}
.news_img_01:hover {background-size:130%;}


/*news_02*/
.news_02 {
  box-shadow:2px 2px 2px 2px #8C8987;
  float:left; margin-left:0.5%; transform:translateY(30%);
  width:33%; height:auto;background-color: #fff;}
.news_img_02 {
  width: 100%; height: 21.97802197802198vw; 
  transition: all 500ms ease; background-size:100%;
  background-image: url(../../../../img/maxim_news_pc/news_notice_box/img_02.png);
  background-repeat: no-repeat;
  background-position: center;}
.news_textbox_02 {
  box-sizing:border-box; padding:0.7326007326007326vw;
  width: 100%; height: auto; background-color: #fff;}
.more_btn_02 {
  margin: auto;
  width: 5.860805860805861vw; height: 5.860805860805861vw;
  background-image:url(../../../../img/maxim_news_pc/news_notice_box/more_icon_01.png);
  background-repeat: no-repeat;
  background-position: center;}
.news_img_02:hover {background-size:130%;}

/*news_03*/
.news_03 {
  float:right;  box-shadow:2px 2px 2px 2px #8C8987;
  width:33%; height:auto;background-color: #fff;}
.news_img_03 {
  width: 100%; height:21.97802197802198vw;
  transition: all 500ms ease; background-size:100%;
  background-image: url(../../../../img/maxim_news_pc/news_notice_box/img_03.png);
  background-repeat: no-repeat;
  background-position: center;}
.news_textbox_03 {
  box-sizing:border-box; padding:0.7326007326007326vw;
  width: 100%; height: auto; background-color: #fff;}
.more_btn_03 {
  margin: auto;
  width: 5.860805860805861vw; height: 5.860805860805861vw;
  background-image:url(../../../../img/maxim_news_pc/news_notice_box/more_icon_01.png);
  background-repeat: no-repeat;
  background-position: center;}
.news_img_03:hover {background-size:130%;}

/*news_04*/
.news_04 {
  box-shadow:2px 2px 2px 2px #8C8987;
  float:left; margin-top:10.98901098901099vw;
  width:33%; height:auto;background-color: #fff;}
.news_img_04 {
  width: 100%; height:21.97802197802198vw;
  transition: all 500ms ease; background-size:100%;
  background-image: url(../../../../img/maxim_news_pc/news_notice_box/img_04.png);
  background-repeat: no-repeat;
  background-position: center;}
.news_textbox_04 {
  box-sizing:border-box; padding:0.7326007326007326vw;
  width: 100%; height: auto; background-color: #fff;}
.more_btn_04 {
  margin: auto;
  width: 5.860805860805861vw; height: 5.860805860805861vw;
  background-image:url(../../../../img/maxim_news_pc/news_notice_box/more_icon_01.png);
  background-repeat: no-repeat;
  background-position: center;}
.news_img_04:hover {background-size:130%;}

/*news_05*/
.news_05 {
  box-shadow:2px 2px 2px 2px #8C8987;
  float:left;margin-left:0.5%; transform:translateY(50%);
  width:33%; height:auto;background-color: #fff;}
.news_img_05 {
  width: 100%; height:21.97802197802198vw;
  transition: all 500ms ease; background-size:100%;
  background-image: url(../../../../img/maxim_news_pc/news_notice_box/img_05.png);
  background-repeat: no-repeat;
  background-position: center;}
.news_textbox_05 {
  box-sizing:border-box; padding:0.7326007326007326vw;
  width: 100%; height: auto; background-color: #fff;}
.more_btn_05 {
  margin: auto;
  width: 5.860805860805861vw; height: 5.860805860805861vw;
  background-image:url(../../../../img/maxim_news_pc/news_notice_box/more_icon_01.png);
  background-repeat: no-repeat;
  background-position: center;}
.news_img_05:hover {background-size:130%;}

/*news_06*/
.news_06 {
  box-shadow:2px 2px 2px 2px #8C8987;
  float:right; margin-top:10.98901098901099vw;
  width:33%; height:auto;background-color: #fff;}
.news_img_06 {
  width: 100%; height:21.97802197802198vw;
  transition: all 500ms ease;background-size:100%;
  background-image: url(../../../../img/maxim_news_pc/news_notice_box/img_06.png);
  background-repeat: no-repeat;
  background-position: bottom;}
.news_textbox_06 {
  box-sizing:border-box; padding:0.7326007326007326vw;
  width: 100%; height: auto; background-color: #fff;}
.more_btn_06 {
  margin: auto;
  width: 5.860805860805861vw; height: 5.860805860805861vw;
  background-image:url(../../../../img/maxim_news_pc/news_notice_box/more_icon_01.png);
  background-repeat: no-repeat;
  background-position: center;}
.news_img_06:hover {background-size:130%;}

/*load more*/
.load_more_btn {
  position:absolute;top:auto; bottom:20.97802197802198vw; left:50%; margin-left:-14.65201465201465vw;
  width:29.3040293040293vw; height:5.860805860805861vw; background-color: #000;
  border-radius:12px;}
.load_more_btn > a {
  width: 100%; height: 100%; display:block;
  color:#fff;font-size:1.5rem; text-align:center; line-height:5.860805860805861vw;}
}