@media screen and (min-width:481px) and (max-width:767px) {
#slogan_box {
  position:relative; width: 100%; height:204.9780vw;}
.slogan_img {
  width: 100%; height: 197.65739vw;
  background-image:url(../../../../img/maxim_about_pc/sloganbox/slogan_img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;}


/*---slogan_head---*/
.slogan_head {width: 100%; height:27.08333vw; }
.slogan_logo {
  position:absolute;
  top:3.90625vw; left:50%; margin-left:-10.546875vw;
  width:21.09375vw; height: 19.79166vw;
  background-image:url(../../../../img/maxim_about_pc/sloganbox/slogan_logo.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size:contain;}
.slogan_title {
  position:absolute; 
  top:23.6979vw; left:50%; margin-left:-31.11979vw;
  width:62.23958vw; height:11.0677vw;
  background-image:url(../../../../img/maxim_about_pc/sloganbox/brand_slogan.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;}

/*----slogan_area------*/
.slogan_area {
  position:relative;
  width: 100%; height: 179.3557vw;}
.slogan_ul{
  position:absolute;top:19.27083vw;
  width: 100%; height: 153.7335vw;}

/*----slogan_sbox_1----*/
.slogan_sbox_1 {
  box-sizing:border-box;padding:2.6041vw 1.302083vw 2.6041666vw 4.55729166vw;
  width:83.33333vw; height:27.99479vw;
  background-image:url(../../../../img/maxim_about_pc/sloganbox/text_01_box.png);}
.sbox_text_01 {
  float:left;
  width:61.84895vw; height:22.0052vw;
  background-image:url(../../../../img/maxim_about_tablet/sloganbox/text_001.png);
  background-repeat: no-repeat;
  background-position:left;
  background-size:contain;}
.sbox_icon_01 {
  float:left;margin-top:10%;
  width:14.8609vw; height: 15.2269vw;
  background-image:url(../../../../img/maxim_about_tablet/sloganbox/icon_01.png);
  background-repeat:no-repeat;
  background-position: center;
  background-size:contain;}

/*-----slogan_sbox_2-------*/
.slogan_sbox_2 {
  box-sizing:border-box; padding:2.604166vw 2.604166vw 2.604166vw 3.255208vw;
  position:absolute;top:56.2225vw;right:0;
  width:88.54166vw; height:27.9947vw;
  background-image:url(../../../../img/maxim_about_pc_full/slogan/text_02_box.png);}
.sbox_text_02 {
  float:right;
  width:65.234375vw; height:20.83333vw;
  background-image:url(../../../../img/maxim_about_tablet/sloganbox/text_002.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;}
.sbox_icon_02 {
  float:left; margin-top:10%;
  width:13.6896vw; height: 12.9575vw;
  background-image:url(../../../../img/maxim_about_tablet/sloganbox/icon_02.png);
  background-repeat:no-repeat;
  background-position: center;
  background-size: contain;}

/*------slogan_sbox_3-------*/
.slogan_sbox_3 {
  box-sizing: border-box; padding:4.55729166vw 2.6041666vw 3.90625vw 3.255208vw;
  position:absolute; bottom:22.6939vw;
  width:65.1041vw; height: 27.9947916vw;
  background-image:url(../../../../img/maxim_about_pc_full/slogan/text_03_box.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;}
.sbox_text_03 {
  float:left;
  width:44.4010416vw; height: 18.359375vw;
  background-image:url(../../../../img/maxim_about_tablet/sloganbox/text_003.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size:contain;}
.sbox_icon_03 {
  float:left; margin-left:5%; margin-top:10%;
  width: 10.688140vw; height: 13.2503vw;
  background-image:url(../../../../img/maxim_about_tablet/sloganbox/icon_03.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;}




 }