/*news_notice_tablet_newsbox.css*/
@media screen and (min-width:481px) and (max-width:767px) {
#newsbox {
  position:relative;
  width: 100%; height:250.6805736636245vw;}
/*dt,dd*/
dt {
  width: 100%; height: auto; font-weight:bold; font-size:1.1rem;}
dd {
  width: 100%; height: auto; font-size:0.9rem; line-height:3.520208604954368vw;}

/*news_area*/
.news_area {
  box-sizing:border-box; margin: auto; padding-top: 15.55671447196871vw;
  width:95%; height:60%;  }

/*news_01*/
.news_01 {
  float:left; box-shadow:5px 5px 5px 5px #8C8987;
  width:45%; height:auto;background-color: #fff;}
.news_img_01 {
  width: 100%; height:26.07561929595828vw;
  transition: all 500ms ease; background-size:100%;
  background-image:url(../../../../img/maxim_news_tablet/news_notice_box/img_01.png);
  background-repeat: no-repeat;
  background-position:center;}
.news_textbox_01 {
  box-sizing:border-box; padding:1.303780964797914vw;
  width: 100%; height: auto; background-color: #fff;}
.more_btn_01 {
  margin: auto;
  width: 10.43024771838331vw; height: 10.43024771838331vw;
 background-image:url(../../../../img/maxim_news_tablet/news_notice_box/more_icon_01.png);
 background-repeat:no-repeat;
 background-position:center;}
.news_img_01:hover {background-size:130%;}

/*news_02*/
.news_02 {margin-top: 5rem;box-shadow:5px 5px 5px 5px #8C8987;
  float:right; margin-left:0; transform:translateY(0);
  width:45%; height:auto;background-color:#fff;}
.news_img_02 {
  width: 100%; height: 26.07561929595828vw;
  transition: all 500ms ease; background-size:100%;
  background-image:url(../../../../img/maxim_news_tablet/news_notice_box/img_02.png);
  background-repeat: no-repeat;
  background-position:center;}
.news_textbox_02 {
  box-sizing:border-box; padding:1.303780964797914vw;
  width: 100%; height: auto; background-color: #fff;}
.more_btn_02 {
  margin: auto;
  width: 10.43024771838331vw; height: 10.43024771838331vw;
  background-image:url(../../../../img/maxim_news_tablet/news_notice_box/more_icon_01.png);
  background-repeat:no-repeat;
  background-position:center;}
.news_img_02:hover {background-size:130%;}

/*news_03*/
.news_03 {
  float:left;margin-top:5vw;box-shadow:5px 5px 5px 5px #8C8987;
  width:45%; height:auto;background-color: #fff;}
.news_img_03 {
  width: 100%; height: 26.07561929595828vw;
  transition: all 500ms ease; background-size:100%;
  background-image:url(../../../../img/maxim_news_tablet/news_notice_box/img_03.png);
  background-repeat: no-repeat;
  background-position:center;}
.news_textbox_03 {
  box-sizing:border-box; padding:1.303780964797914vw;
  width: 100%; height: auto; background-color: #fff;}
.more_btn_03 {
  margin: auto;
  width: 10.43024771838331vw; height: 10.43024771838331vw;
  background-image:url(../../../../img/maxim_news_tablet/news_notice_box/more_icon_01.png);
  background-repeat:no-repeat;
  background-position:center;}
.news_img_03:hover {background-size:130%;}

/*news_04*/
.news_04 {
  float:right; margin-top:5vw;box-shadow:5px 5px 5px 5px #8C8987;
  width:45%; height:auto;background-color: #fff;}
.news_img_04 {
  width: 100%; height:26.07561929595828vw;
  transition: all 500ms ease; background-size:100%;
  background-image:url(../../../../img/maxim_news_tablet/news_notice_box/img_04.png);
  background-repeat: no-repeat;
  background-position:center;}
.news_textbox_04 {
  box-sizing:border-box; padding:1.303780964797914vw;
  width: 100%; height: auto; background-color: #fff;}
.more_btn_04 {
  margin: auto;
  width: 10.43024771838331vw; height: 10.43024771838331vw;
  background-image:url(../../../../img/maxim_news_tablet/news_notice_box/more_icon_01.png);
  background-repeat:no-repeat;
  background-position:center;}
.news_img_04:hover {background-size:130%;}

/*news_05*/
.news_05 {display:none;}


/*news_06*/
.news_06 {display:none;}


/*load more*/
.load_more_btn {
  position:absolute;top:auto; bottom:35.07561929595828vw; left:50%; margin-left:-26.07561929595828vw;
  width:52.15123859191656vw; height:10.43024771838331vw; background-color: #000;
  border-radius:12px;}
.load_more_btn > a {
  width: 100%; height: 100%; display:block;
  color:#fff;font-size:1.5rem; text-align:center; line-height:10.43024771838331vw;}
}